.game {
  display: grid;
  grid-template-columns: 60% 45%;
  grid-template-rows: 10% 55% 30%;
    /* display: flex;
    flex-direction: row; */
    /* padding-bottom: 40px; */
    /* padding-bottom: 40px;
    margin: auto; */

/* for mobile */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
    /* margin-left: 25px; */

/* for tablet */
    /* margin:auto; */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
  }

  .game-board{
    /* padding: 25px; */
    /* border-right: 1px solid whitesmoke; */
    grid-row: 2;
    grid-column: 1;
}

  .title{
    font-size: 20px;
    font-family: fantasy;
    margin: auto;
    /* it can work for mobile too */
    /* For Tablet, padding: 10px */
    /* For laptop font-size: 30px */
  }

  .game-info{
    grid-row: span 3;

    /* overflow: scroll; */
    /* max-height: 15vh; */
    /* margin-left: 50px; */
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap; */
    /* margin: 0px; */
    /* padding: 5px; */
    /* max-width: 80vw; */

/* for tablet */
    /* margin:auto; */
    /* padding: 5px; */
    /* align-items: flex-end; */
    /* justify-content: center; */
  }

  /* .game-board{ */
    /* padding: 25px; */
    /* border-right: 1px solid whitesmoke; */

/* for mobile */
    /* border:none;
    margin-top: 10px;
    padding:0px;
    margin-bottom: 0px;
    margin-right: 15px; */

/* for tablet */
    /* border:none;
    margin:auto;
    padding: 5px; */
  /* } */

  main{
    /* maybe fix the flex here? */
    padding-top: 5vh;
    padding-bottom: 5vh;
     overflow: scroll;
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(45deg, black, transparent);
    display: flex; 
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;

   /* mobile query */
    /* height: auto;
    width: auto; */
    /* padding: 0;
    padding-top: 5vh; */
  /*Tablet query  */
    /* padding-top: 10vh; */
  }

  .status{
    grid-column: 1;
    grid-row: 3;
    font-size: 25px;
    margin:5px;
    /* display: flex; */
    /* flex-direction: none; */
    /* padding-top: 15px; */
    /* align-items: flex-start; */

    /* for mobile: font-size: 30px */
    /* for tablet: margin-bottom: 10px */
  }

  ol, ul {
    padding-left: 30px;
    list-style-type: none;
  
  }

  /* Media query for Mobile use this in theory? */
  @media only screen and (min-width: 320px)  and (max-width: 768px){
    .game-info{
      margin-bottom: 1vh;
      
    }
    .title{
      padding-top:15px;
    }

    .link-colors{
      width:auto;
    }

    .game{
      display: contents;
    }

    .game-board{
      margin-top: 8vh;
    }

    .status{
      margin: 20px;
      font-size: 15px;
    }

  ol{
    margin-right: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  }

/* for tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .game{
    margin-top: 100px;
  }
  .main{
    padding-top: 7vh;
  }

}

/* laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px){
main{
  padding-top: 15vh;
}

.game{
  margin-top: 80px;
}
}