.game {
  display: grid;
  grid-template-columns: 60% 45%;
  grid-template-rows: 10% 90% 30%;
    /* display: flex;
    flex-direction: row; */
    /* padding-bottom: 40px; */
    /* padding-bottom: 40px;
    margin: auto; */

/* for mobile */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
    /* margin-left: 25px; */

/* for tablet */
    /* margin:auto; */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
  }

  .game-board{
    /* padding: 25px; */
    /* border-right: 1px solid whitesmoke; */
    grid-row: 2;
    grid-column: 1;
}

  .title{
    font-size: 20px;
    font-family: fantasy;
    margin: auto;
    /* it can work for mobile too */
    /* For Tablet, padding: 10px */
    /* For laptop font-size: 30px */
  }

  .game-info{
    grid-row: span 3;

    /* overflow: scroll; */
    /* max-height: 15vh; */
    /* margin-left: 50px; */
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap; */
    /* margin: 0px; */
    /* padding: 5px; */
    /* max-width: 80vw; */

/* for tablet */
    /* margin:auto; */
    /* padding: 5px; */
    /* align-items: flex-end; */
    /* justify-content: center; */
  }

  /* .game-board{ */
    /* padding: 25px; */
    /* border-right: 1px solid whitesmoke; */

/* for mobile */
    /* border:none;
    margin-top: 10px;
    padding:0px;
    margin-bottom: 0px;
    margin-right: 15px; */

/* for tablet */
    /* border:none;
    margin:auto;
    padding: 5px; */
  /* } */

  main{
    /* maybe fix the flex here? */
    padding-top: 5vh;
    padding-bottom: 5vh;
     overflow: scroll;
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(45deg, black, transparent);
    display: flex; 
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;

   /* mobile query */
    /* height: auto;
    width: auto; */
    /* padding: 0;
    padding-top: 5vh; */
  /*Tablet query  */
    /* padding-top: 10vh; */
  }
  .status{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25%;
    grid-column: 1;
    grid-row: 3;
    font-size: 20px;
    /* margin-top:40px; */
    margin-bottom:13px;
    /* display: flex; */
    /* flex-direction: none; */
    /* padding-top: 15px; */
    /* align-items: flex-start; */

    /* for mobile: font-size: 30px */
    /* for tablet: margin-bottom: 10px */
  }

  ol, ul {
    padding-left: 30px;
    list-style-type: none;
  
  }

  .bold-item {
    float: left;
    font-weight: bold;
    background-color:aqua;
   
  }

  /* Media query for Mobile use this in theory? */
  @media only screen and (min-width: 320px)  and (max-width: 768px){
    .game-info{
      margin-bottom: 1vh;
      padding: 25px;
      
    }
    .title{
      padding-top:15px;
    }

    .link-colors{
      width:auto;
      margin: 25px;
    }

    .game{
      display: contents;
    }

    .game-board{
      margin: auto;
    }

    .status{
      margin: 15px;
      font-size: 15px;
      display: flex; 
      flex-direction: column;
      align-items: center;
    /* justify-content: center;
    flex-wrap: wrap; */
    padding: 5px;
    }

    span{
      margin:5px;
    }

  ol{
    margin-right: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  }

/* for tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px){
  /* changes the size of the grid rows and columns */
  .game{
    /* 10,55, 30 */
    grid-template-rows: 10% 85% 30%;
    grid-template-columns: 50% 35%;
    margin-top: 30px;
    margin-left: 150px;
    width: 65vw;
  }
  .main{
    padding-top: 7vh;
  }

  /* changes the button layout */
  .game-info{
    margin: 0;
  }

  /* changes the point system */
  .status{
    /* margin: 19px */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25%; 
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  /* align-content: flex-start;
  flex-direction: row; */ 
  }

  #win, #draw{
    grid-row: 2;

    
  }

  
  .status p{
    margin: 0;
    width: 50%;
  }

  ol{
  display: flex;
    flex-direction: column;
    align-items: center;
  }

}

/* laptop */
@media only screen and (min-width: 1025px){
main{
  padding-top: 18vh;
}

/* .game{
  margin-top: 100px;
} */

.game-info{
  margin: 19px;
}

.ol{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}