.game {
  display: grid;
  grid-template-columns: 60% 45%;
  grid-template-rows: 10% 55% 30%;
    /* display: flex;
    flex-direction: row; */
    /* padding-bottom: 40px; */
    /* padding-bottom: 40px;
    margin: auto; */

/* for mobile */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
    /* margin-left: 25px; */

/* for tablet */
    /* margin:auto; */
    /* flex-direction: column; */
    /* padding-bottom: 15px; */
  }

  .title{
    font-size: 20px;
    font-family: fantasy;
    margin: auto;
    /* it can work for mobile too */
    /* For Tablet, padding: 10px */
    /* For laptop font-size: 30px */
  }

  .game-info{
    grid-row: span 3;

    /* overflow: scroll; */
    /* max-height: 15vh; */
    /* margin-left: 50px; */
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap; */
    /* margin: 0px; */
    /* padding: 5px; */
    /* max-width: 80vw; */

/* for tablet */
    /* margin:auto; */
    /* padding: 5px; */
    /* align-items: flex-end; */
    /* justify-content: center; */
  }

  /* .game-board{ */
    /* padding: 25px; */
    /* border-right: 1px solid whitesmoke; */

/* for mobile */
    /* border:none;
    margin-top: 10px;
    padding:0px;
    margin-bottom: 0px;
    margin-right: 15px; */

/* for tablet */
    /* border:none;
    margin:auto;
    padding: 5px; */
  /* } */

  .status{
    grid-column: 1;
    grid-row: 3;
    font-size: 25px;
    margin:5px;
    /* display: flex; */
    /* flex-direction: none; */
    /* padding-top: 15px; */
    /* align-items: flex-start; */

    /* for mobile: font-size: 30px */
    /* for tablet: margin-bottom: 10px */
  }

  ol, ul {
    padding-left: 30px;
    list-style-type: none;
  
  }

  /* Media query for Mobile use this in theory? */

  @media only screen and (min-width: 320px)  and (max-width: 768px){
    .game-info{
      margin-bottom: 1vh;
      
    }

    .link-colors{
      width:auto;
    }

    .game{
      display: contents;
    }

    .game-board{
      margin-top:1vh;
    }

    .status{
      margin: 10px;
      font-size: 15px;
    }

    /* images */

    .imgTom{
      margin-top: 90px;
    }

    .imgAI{
      margin-top: 90px;
    }


    .imgTom img {
      width: 260px;
    }

    .imgAI img{
      width:260px;
    }



  ol{
    margin-right: 50px;
    margin-bottom: 50px;
  }
  }

/* for tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .game{
    margin-top: 100px;
  }
  .main{
    padding-top: 7vh;
  }

  .imgTom img{
    width: 255px;
  }

  .imgAI img{
    width: 255px;
  }
}

/* laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px){
main{
  padding-top: 15vh;
}

.game{
  margin-top: 80px;
}
}